# Pandas Workshop

In [0]:
# import numpy and pandas library


# import some library to plot data, i.e. matplotlib

## 1. Create a serie or a dataset from scratch

---

### Some intro & definitions:
* Dataframe: columns names (variables), row index (id) and values (registers)
* we can access through numbers or labels
* Serie: 1 dimension labelled array (can have index)

---

In [0]:
# create a serie with the following values: 100, 200, 300, 400 and 500

In [0]:
# create the same serie with now with different years as index and 'Sales product A' as name

In [0]:
# create a dataframe with 2 columns ('category' and 'units')
# assign text values for the first one and number for the second one

In [0]:
# you can also assign an index to the dataframe or specify it when creating

In [0]:
# check types of both

## 2. Load & explore data

In [0]:
# Only if you are using Google Colab: 
# Activate your drive in the left menu --> run the cell --> copy/paste token to connect

In [0]:
# specify file path (you can select the file in the menu directory and copy/paste the path)

In [0]:
# read csv from file path --> as a dataframe

In [0]:
# check the length of the dataset

In [0]:
# check number of columns (variables) and rows (observations)

In [0]:
# read columns names

In [0]:
# read index

In [0]:
# check the first 5 and 10 rows

In [0]:
# check the last 5 and 3 rows

In [0]:
# check 4 and 1 random rows

In [0]:
# check types of variables

In [0]:
# check information about types, null and registers for all variables

In [0]:
# check missing values

In [0]:
# check unique values

In [0]:
# sort values by column 'client', in the order you want

In [0]:
# reset the index

In [0]:
# set again the index to the original one

In [0]:
# sort values by 'city' and 'shop', in the order you want

In [0]:
# rename variable 'moment'replacing by 'date_hour' and 'vip' by 'Loyalty_card'

In [0]:
# drop column 'gender'

## 3. Analyze & understand data

### Select with rows & columns

In [0]:
# select column 'Shop'

In [0]:
# select row 6

In [0]:
# select the 'product' of the 4th register (only the value of this cell)

In [0]:
# select the 'product' and 'quantity' values of the first 5 registers using labels

In [0]:
# select the 'city' of the last 5 registers, but now using positions

In [0]:
# select the 'city' of registers 1 and 10 using positions

In [0]:
# select the 'city' and 'operation' of registers 1 and 10 using positions

In [0]:
# see all values of the column 'product'

### Select with conditions

In [0]:
 # registers who purchased 'tortilla'

In [0]:
# registers that are not 'purchase' operations

In [0]:
# registers that are 5 or more units purchased

In [0]:
# registers that are lower than 3 units purchased

In [0]:
# registers with one of these products: 'chorizo','paella','tortilla'

In [0]:
# registers where we don't know which client is

In [0]:
# registers where we know the age of the client

In [0]:
# registers that have more at least 3 beers

In [0]:
# registers that have more product with more than 10 units or products that are not food

### Analyze statistical values

In [0]:
# check the maximum value of quantity

In [0]:
# check the minimmum value of quantity

In [0]:
# check the average value of quantity

In [0]:
# check the variance value of quantity

In [0]:
# check the standard deviation of quantity

In [0]:
# check the median value of quantity

In [0]:
# check the mode value of quantity

In [0]:
# check the sum of quantity

In [0]:
# check the cut value of quantity of 75% of the registers

In [0]:
# get a quick statistic summary for all numeric variables

In [0]:
# see distribution of observations (absolutes) for the 'product' variable

In [0]:
# see distribution in % for the 'product' variable

### Plot the data

In [0]:
# plot an histogram of the 'quantity' variable

In [0]:
# fine-tune the histogram with a different number a bins

In [0]:
# plot distribution of all columns with boxplots

## 4. Clean and Transform data

---
* to homogeneize data
* to operate on data (type)
* to analyse data in a proper way (table or view) 
* to create new variables relevant for analysis
---

### Operations with Series

In [0]:
# create another serie using the previous one and adding 50 to all values
# then rename it 'Sales Product B'

In [0]:
# in this new serie, replace the value of 150 by a missing value and 350 by 300

In [0]:
# create a third serie which is the sum of the previous and the second series previously created

In [0]:
# check if it correctly did the sum in the position you have a missing value
# if not try to do the same but now considering that the missing value means 0 sales

In [0]:
# Create another serie which is the substraction of the first one by the second one

In [0]:
# Now another one that represents the multiplication of the first by the second one

In [0]:
# Now the last one, that represents the division of the first by the second one

### Checking and changing type

In [0]:
# check variables types

In [0]:
# change 'date_hour' column as 'datetime' type instead of object

In [0]:
# change 'shop' and 'client' from numerical (int or float) to alphanumeric (text)

In [0]:
# change 'quantity' from int to float

In [0]:
# check variables types again

### Creating new variables, cleaning data and changing structure of the dataframe

In [0]:
# create a new column 'country' and assign 'Spain' to all registers

In [0]:
# create another dataframe with 1 column named 'product'
# assign all the different values for product (without duplicated, like a catalogue)

In [0]:
# assign a price to each one in another column named 'price'

In [0]:
# merge the price data with the original dataframe (like a "LEFT JOIN")

In [0]:
# create 2 new series: one with 3 new products and the other with their correspondant price
# concatenate both series into a new dataframe with these 3 new items

In [0]:
# append these 3 new items to the catalogue

In [0]:
# assign a new column 'promotion_A' that divide the price/unit by 2

In [0]:
# correct return operations data (should have negative values in quantity)

In [0]:
# assign a new column 'total_purchase' that is multiply price/unit by quantity

In [0]:
# assign a new column 'promotion_B' that apply 10 euros discount on total purchase

In [0]:
# create a variable that recommend which promotion is more interesting: 'A', 'B' o 'same'

In [0]:
# Transpose the catalogue of products (rows as columns and columns as rows)

In [0]:
# drop columns that are not relevant for analysis

In [0]:
# drop registers where we don't know which client it is

In [0]:
# add 3 duplicated registers

In [0]:
# drop duplicated registers

## 5. Look for patterns or differences to extract Insights & Save outputs

In [0]:
# calculate the sum of purchases per client

In [0]:
# calculate the average operation quantity and price per city and shop

In [0]:
# calculate the minimum, median and maximum price, quantity and total purchase per product

In [0]:
# do a summary tab with the total operations per shop and city

In [0]:
# count how many product units are purchased per city

In [0]:
# count how many operations per product are done per shop

In [0]:
# filter the dataframe by purchases only

In [0]:
# in this dataframe of purchases only, create a new column 'delivery_cost' 
# delivery should cost 5 euros but would be only 2 euros if total purchase ir more than 10 euros

In [0]:
# imagine you need to know the maximum length of all data contained in each variable (to build a database i.e)

In [0]:
# get the correlation ("relationship") matrix between numerical variables

In [0]:
# save the csv in your folder